
@{
    ViewBag.Title = "Index";
}

<h2>Olar</h2>
<div class="form-group">
    <table class="table-bordered">
        <tr>
            <td><input placeholder="CPF" name="Cpf" /></td>
            <td><input placeholder="Senha" name="Senha"</td>   
            </tr>  
            <tr><td>
    @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    @Html.ActionLink("Login", "Login", string.Empty, new { htmlAttributes = new { @class = "btn btn-default" } })
                </div>

    }</td><td>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            @Html.ActionLink("Cadastrar", "Cad", string.Empty, new { htmlAttributes = new { @class = "btn btn-default" } })
        </div>
    }
</td>
        </tr>
    </table>
</div>