
@{
    ViewBag.Title = "Login";
}

<h2>Bem-vindo $nomedapissoa</h2>

<!-- Tabela informando os produtos daquela pessoa que logou no sistema com suas credenciais -->
<table class="table-bordered">
    <tr>
        <td>Nome</td>
        <td>Categoria</td>
        <td>Quantidade</td>
    </tr>
    <tr>
        <td>lista de nome</td>
        <td>lista de categoria</td>
        <td>lista de quantidade</td>
    </tr>
</table>